/* Acá van tus reglas de estilo */
body {
    background-color: #f3fcfc;
    font-family: 'Montserrat', sans-serif;
}

.button {
    -webkit-transition: 0.2s;
    transition: 0.2;
    padding: 13px 60px;
    border: 2px solid #79b3b3; 
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    background: #79b3b3;
    margin: 10px 35px 20px 40px;
}
    
.button:hover {
    color: white;
    font-weight: 400;
    background-color: #90c9cb;
    padding: 13px 60px;
    border: 2px #90c9cb;
} 

.button:focus{
    outline: none;
}

.button:focus{
    outline: none;
}

img {
    width: 60%;
    margin: auto;    
    display: block;
}

#password {
    width: 300px;
    height: 50px;
}

#message {
    width: 700px;
    height: 150px;
    margin: 0px 0px 0px 50px;
}

.lastMessage {
    width: 700px;
    height: 150px;
}

#finalMessage {
    width: 700px;
    height: 150px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.footer {
    font-size: 10px;
    text-align: center;
    margin-top: 130px;
}

.clave
{
    font-size: 20px;
}

h1 {
color: #b81f5c;
text-align: center;
}

h2 {
color: #b81f5c;
text-align: center;
}

h3{
color: #b81f5c;
text-align: center;
}

p {
    color: #b81f5c;
    text-align: center;
    }

.centralText {
    display: inline;
    margin: 0px 0px 10px 50px;
}

.moves {
    color: #b81f5c;
    display: inline-block;
    padding: 0px 0px 100px 0px;
    margin: 20px 30px 0px 0px;
}

.seccion {
    text-align: center;
}

.paswd {
    text-align: center;
    font-size: 15px;
}

.lastMessage {
    width: 700px;
    height: 150px;
}